{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <h1 style="margin-left: 20px;">Новый курс</h1>

    {% if app.flashes('error') %}
    <div class="alert alert-danger">
            <span>Такое название уже есть!</span>
    </div>
{% endif %}


    {{ include('course/_form.html.twig') }}

    <hr>

    <a href="{{ path('app_course_index') }}" style="margin-left: 20px;"><button type="button" class="btn btn-outline-secondary">К списку курсов</button></a>
{% endblock %}
