<form method="post" action="{{ path('app_lesson_delete', {'id': lesson.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот урок?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn btn-outline-danger" style="margin-left: 20px; margin-top: 10px;">Удалить</button>
</form>
