{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-secondary" style="margin-left: 20px; margin-top: 10px;">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
