{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1>Create new Lesson</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_show', { 'id' : course.id }) }}">Обратно к курсу</a>
{% endblock %}
