{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Упппс! Походу такой страницы не существует 😔</h1>

    <h5>
        Запрошенная страница не найдена. Проверьте опечатки в URL или
        перейдите на <a href="{{ path('app_course_index') }}">главную страницу</a>.
    </h5>
{% endblock %}

