{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>У нас временные технически шоколадки...ой..неполадки, но мы скоро вернемся 🍫</h1>

    <h5>
        Перейдите на <a href="{{ path('app_course_index') }}">главную страницу</a>.
    </h5>
{% endblock %}

